{% extends '_template.html.twig' %}

{% block title %}Panier{% endblock %}

{% block content %}
    {% if items | length > 0 %}
        <table class="table is-hoverable is-centered section">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product.nom }}</td>
                        <td>{{ item.product.prix }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.prix * item.quantity }}</td>
                        <td>
                            <a href="{{ path('cart_delete', {id: item.product.id}) }}" class="button is-danger is-small"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="has-text-right">Total : </td>
                    <td>{{ total }}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>Votre panier est vide</p>
    {% endif %}

{% endblock %}
