{% extends "admin/dashboard/index.html.twig" %}

{% block title %}User{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Membres: {{ user_list|length }}</h1>

        {% include "includes/flash.html.twig" %}

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Pseudo</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Code Postale</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>

                </tr>
            </thead>
            <tbody>
                {% for user in user_list %}
                    <tr>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.pseudo }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.adresse }}</td>
                        <td>{{ user.ville }}</td>
                        <td>{{ user.cp }}</td>
                        <td>
                            <a href="{{ path('user_edit', {id: user.id}) }}" class="button is-small is-success">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#" class="button is-small is-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
