{% extends "_template.html.twig" %}

{% block content %}

    {# <!-- <--------------------THEMATIQUE--------------------------> #}

    <div id="containerThematique">

        <h1 class="thematique">Nos thématiques</h1>
        <h2 class="thematique">Retrouvez les terroirs, la culture et la gastronomie de nos régions grâce aux itinéraires
            du Vélonaute.</h2>

        <!-- Présentation des thématiques -->

        <div id="gallery">
            <div>
                <a href=" {{ path('itineraire')}} ">
                    <img src="{{ asset('build/images/thematique/chalet.jpg') }}" alt="campagne verdoyante vélo apposé à un châlet">
                    <p>Route</p>
                </a>
            </div>

            <div>
                <a href="choix-itineraires.html">
                    <img src="{{ asset('build/images/thematique/vtt.jpeg') }}" alt="Vtt en forêt">
                    <p>VTT</p>
                </a>
            </div>


            <div>
                <a href="choix-itineraires.html">
                    <img src="{{ asset('build/images/thematique/vigne.jpg') }}" alt="vignoble">
                    <p>Vignoble et gastronomie</p>
                </a>
            </div>

            <div>
                <a href="choix-itineraires.html">
                    <img src="{{ asset('build/images/thematique/chambord-887696_1920 (1).jpg') }}" alt="château de Chambord">
                    <p>Châteaux et monuments</p>
                </a>
            </div>
            <div>
                <a href="choix-itineraires.html">
                    <img src="{{ asset('build/images/thematique/beach-1836469_1920 (1).jpg') }}" alt="plage galet vélo">
                    <p>Mers et océans</p>
                </a>
            </div>

            <div>
                <a href="choix-itineraires.html">
                    <img src="{{ asset('build/images/thematique/famille.jpg') }}" alt="famille qui fait du vélo ">
                    <p>Famille</p>
                </a>
            </div>
        </div>
        <!-- Assistance -->
        <div id="assistance">
            <p > VOUS SOUHAITEZ ORGANISER UN VOYAGE SUR-MESURE ?<br> Contactez-nous, notre équipe reste à
                votre disposition.<br>
                <a href="#"><i class="fas fa-phone-volume"></i></a>
                <a href="#"><i class="fas fa-envelope-square"></i></a>
            </p>

        </div>


    </div>
{% include "footer.html.twig" %}
{% endblock %}
