{% extends "admin/dashboard/index.html.twig" %}

{% block title %}Produits{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Produits: {{ produit_list|length }}</h1>

        {% include "includes/flash.html.twig" %}

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>
                        <a href="#" class="button is-info is-small">
                            Ajoute Nouvel produit
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>Categorie</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Description</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for produit in produit_list %}
                    <tr>
                        <td>{{ produit.categorie }}</td>
                        <td>{{ produit.nom }}</td>
                        <td>{{ produit.prix }}</td>
                        <td>{{ produit.description }}</td>
                        <td>
                            <a href="{{ path('produit_edit', {id: produit.id}) }}" class="button is-small is-success">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#" class="button is-small is-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
