{% extends "admin/index.html.twig" %}

{% block title %}
    Nouvel itinéraire
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Nouvel itinéraire</h1>

                  {{ form_start(itineraire_form) }}
                  {{ form_row(itineraire_form.region) }}
                  {{ form_row(itineraire_form.imageFile) }}
                  {{ form_row(itineraire_form.informations) }}
                  {{ form_row(itineraire_form.nom)}}
                  {{ form_row(itineraire_form.description)}}
                            
 
                 <button type="submit" class="button is-primary is-fullwidth">
                     Ajouter
                </button>

                {{ form_end(itineraire_form) }}

        {% include "admin/dashboard/_itineraire_form.html.twig" %}
    </div>
{% endblock %}






  